{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'website/src/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'website/src/css/main.css' %}">
</head>
<body>

<div class="teachers woman">
    <div class="teachers__container">
        <h1 class="teachers__container__title">
            Преподаватели
        </h1>
        <div class="teachers__container__wrapper">
            <div class="teachers__wrapper__slider">

                <div class="teachers__slider__card">
                    <div class="teachers__slider__image">
                        <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8cGVyc29ufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                             alt="">
                    </div>
                    <div class="teachers__slider__title">
                        Хазаров Татьяна Баировна
                    </div>
                </div>
                <div class="teachers__slider__card">
                    <div class="teachers__slider__image">
                        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                             alt="">
                    </div>
                    <div class="teachers__slider__title">
                        Хазаров Татьяна Баировна
                    </div>
                </div>
                <div class="teachers__slider__card">
                    <div class="teachers__slider__image">
                        <img src="https://images.unsplash.com/photo-1554151228-14d9def656e4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80"
                             alt="">
                    </div>
                    <div class="teachers__slider__title">
                        Хазаров Татьяна Баировна
                    </div>
                </div>
                <div class="teachers__slider__card">
                    <div class="teachers__slider__image">
                        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                             alt="">
                    </div>
                    <div class="teachers__slider__title">
                        Хазаров Татьяна Баировна
                    </div>
                </div>
                <div class="teachers__slider__card">
                    <div class="teachers__slider__image">
                        <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8cGVyc29ufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                             alt="">
                    </div>
                    <div class="teachers__slider__title">
                        Хазаров Татьяна Баировна
                    </div>
                </div>
                <div class="teachers__slider__card">
                    <div class="teachers__slider__image">
                        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                             alt="">
                    </div>
                    <div class="teachers__slider__title">
                        Бабич Татьяна Николаевна
                    </div>
                </div>
                <div class="teachers__slider__card">
                    <div class="teachers__slider__image">
                        <img src="https://images.unsplash.com/photo-1554151228-14d9def656e4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80"
                             alt="">
                    </div>
                    <div class="teachers__slider__title">
                        Бабич Дмитрий Сергеевич
                    </div>
                </div>
                <div class="teachers__slider__card">
                    <div class="teachers__slider__image">
                        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                             alt="">
                    </div>
                    <div class="teachers__slider__title">
                        Бабич Сергей Алексеевич
                    </div>
                </div>
            </div>
            <div class="teachers__wrapper__content">
                <div class="teachers__content__position">
                    <h2>
                        Организатор, преподаватель математики
                    </h2>
                    <div class="teachers__content__info">
                        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                             alt="">
                    </div>
                    <div class="teachers__content__name">
                        <h3>
                            Юмашев
                            Михаил Владиславович
                        </h3>
                    </div>
                </div>
            </div>

            <div class="teachers__content__description">
                <div class="content__description__item">
                    <div class="description__item__title">
                        Педагогический стаж:
                    </div>
                    <div class="description__item__text">
                        механико-математический факультет МГУ (специалист), механико-математический факультет МГУ
                        (аспирант), факультет педагогического образования МГУ (преподаватель высшей школы), диплом
                        Concord Colledge.
                    </div>
                </div>
                <div class="content__description__item">
                    <div class="description__item__title">
                        Педагогический стаж:
                    </div>
                    <div class="description__item__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse inventore ipsa nam quia
                        veritatis. Architecto ducimus eos, excepturi maxime temporibus voluptatum. Aliquam,
                        aspernatur dignissimos facilis fugit id, nam nesciunt nobis optio provident quis
                        reprehenderit rerum sed sequi similique sit soluta suscipit tempore voluptates!
                        Accusamus consectetur doloremque eligendi est eveniet facere incidunt ipsa maiores nam
                        nemo pariatur, quae saepe? Aperiam dolores esse harum! Accusantium aliquid praesentium
                        soluta velit voluptate. Accusantium asperiores aut, dolor doloremque eos error est et
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="{% static 'website/src/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'website/src/js/jquery.maskedinput.js' %}"></script>
<script src="{% static 'website/src/js/teachers.js' %}"></script>
</body>
</html>
