@font-face {
  font-family: "Urfa Light";
  src: url("../fonts/Urfa-light.woff2") format("woff2"),
  url("../fonts/Urfa-light.woff") format("woff");
}

@font-face {
  font-family: "Urfa Italic";
  src: url("../fonts/Urfa-LightItalic.woff2") format("woff2"),
  url("../fonts/Urfa-LightItalic.woff") format("woff");
}