.schedule__modal {
  @include classButtonLinear(bottom,215, 74, 148,1,53, 74, 153,1);
  color:white;
  width: 100%;
  position: absolute;
  max-width: 50%;
  height: 100%;
  max-height: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  padding: 24px 0;
  .schedule__modal__title {
    text-align: center;
    font-size: 2.75rem;
    font-family: $bookFont;
    margin-bottom: 8.5px;
  }
  .schedule__modal__subtitle {
    font-family: $bookItalicFont;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 52px;
  }
  .schedule__modal__content {
    font-family: $lightFont;
    font-size: .9rem;
  }
  &.disabled {
    display: none;
  }
}