@import 'variables';
@import 'keyframes';
@import 'mixins';
@import 'fonts';
@import 'buttons';
@import 'modals';

html, body {
  height: 100%;
}

body {
  width: 100%;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
}


.schedule__figure-1 {
  position: absolute;
  width: 8.85vw;
  left: 13.4vw;
  top: 3.35vh;
  z-index: 3;

  img {
    width: 100%;
  }
}
.schedule__figure-2 {
  position: absolute;
  width: 9.5vw;
  top: 14vh;
  right: 2vw;
  z-index: 3;

  img {
    width: 100%;
  }
}
.schedule__figure-3 {
  position: absolute;
  width: 8vw;
  bottom: 14.5vh;
  left: 5.85vw;
  z-index: 3;

  img {
    width: 100%;
  }
}
.schedule__figure-4 {
  position: absolute;
  width: 8vw;
  bottom: 10vh;
  right: 10.4vw;
  z-index: 3;
  img {
    width: 100%;
  }
}

.schedule {
  background-color: $backgroundColor;
  display: flex;
  justify-content: center;
  padding: 2.2vh 0 3.05vh 0;
  height: 100%;
  padding-right: 5vw;
  position: relative;

  .schedule__item {
    width: 62vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .schedule__item__bg {
      width: 100%;
      position: absolute;
    }

    .schedule__item__locations {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;

      &.active {
        display: flex;
      }

      &.slide {
        .schedule__item__button {
          position: relative;
        }
      }
    }

    .schedule__classes__title {
      text-align: center;
      display: block;
      width: 100%;
      font-size: 2.625rem;
      font-family: $lightFont;
      margin-bottom: 28px;
    }

    .schedule__item__classes {
      display: none;
      flex-wrap: wrap;
      align-items: center;
      z-index: 1;
      width: 100%;
      justify-content: flex-start;
      max-width: 340px;

      &.active {
        display: flex;
      }

      .schedule__classes__button {
        position: relative;

        &:nth-of-type(1) {
          left: 138px;
          top: 100px;
        }

        &:nth-of-type(2) {
          left: 54px;
          top: 100px;
        }

        &:nth-of-type(3) {
          right: 32px;
          top: 100px;
        }

        &:nth-of-type(4) {
          top: 100px;
          right: 117px;
        }

        &:nth-of-type(5) {
          top: 9px;
          left: 138px;
        }

        &:nth-of-type(6) {
          top: 9px;
          left: 54px;
        }

        &:nth-of-type(7) {
          top: 9px;
          right: 30px;
        }

        &:nth-of-type(8) {
          top: 9px;
          right: 116px;
        }

        &:nth-of-type(9) {
          bottom: 82px;
          left: 139px;
        }

        &:nth-of-type(10) {
          bottom: 82px;
          left: 54px;
        }

        &:nth-of-type(11) {
          bottom: 82px;
          right: 31px;
        }
      }
    }

    .schedule__item__subjects {
      display: none;
      flex-direction: column;
      z-index: 2;
      width: 100%;
      max-width: 300px;

      &.active {
        display: flex;
      }
    }
  }

  .schedule__item__days {
    z-index: 1;
    display: none;
    .schedule__days__wrapper {
      z-index: 2;
      width: 100%;
      max-width: 300px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }
    &.active {
      display: block;
    }
  }
}

.schedule-rotate-text {
  width: calc(48vw);
  left: 13.5%;
  z-index: 1;
  position: absolute;
  animation: rotate 60s linear infinite;
}


.teachers {

  height: 100%;
  display: flex;
  padding-top: 6.5vh;
  justify-content: center;
  &.woman {
    background: rgb(146,82,156);
    background: radial-gradient(circle, rgba(146,82,156,0.6) 40%, rgba(78,171,225,0.9) 100%);
  }
  &.man {
    background: rgb(78,171,225);
    background: radial-gradient(circle, rgba(78,171,225,0.6) 0%, rgba(146,82,156,0.9) 100%);
  }
  &__container {
    height: 85%;
    width: 100%;
    max-width: 65vw;
    margin: 0 auto;
    &__title {
      font-family: $italicFont;
      font-size: 2rem;
      margin-bottom: 30px;
      padding-left: 4vw;
      letter-spacing: .4px;
    }
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      padding: 0 22px;
    }
    .teachers__wrapper__slider {
      flex-basis:350px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      direction: rtl;
      overflow-y: auto;
      padding-top: 3px;
      scrollbar-color: rgba(50,50,50, .69) rgba(50,50,50, .69);
      scrollbar-width: thin;
      .teachers__slider__card {
        height: 50px;
        margin-left: 20px;
        width: 38%;
        border-radius: 100%;
        margin-bottom: 28px;
        &:nth-of-type(2n) {
          margin-left: 24px;
        }
        &:last-of-type {

        }
        .teachers__slider__image {
          border-radius: 100%;
          margin-bottom: 10px;
          img {
            width: 100%;
            border-radius: 100%;
            transition: .2s linear;
            cursor: pointer;
            &.active {
              -webkit-box-shadow: 0 0 0 3px #93278F;
              box-shadow: 0 0 0 3px #93278F;
              transition: .2s linear;
            }
            &:hover {
              -webkit-box-shadow: 0 0 0 3px #93278F;
              box-shadow: 0 0 0 3px #93278F;
              transition: .2s linear;
            }
          }
        }
        .teachers__slider__title {
          text-align: center;
          font-size: 12px;
          font-family: $regularFont;
        }
      }
    }
    .teachers__wrapper__content {
      flex-basis: 482px;
      margin-left: 10px;
      .teachers__content__position {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0 auto;
        font-family: $regularFont;
        font-size: 1.4rem;
        h2 {
          font-weight: 700;
          text-align: center;
          margin-top: 22px;
        }
      }
      .teachers__content__info {
        border-radius: 100%;
        margin-top: 56px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
        }
      }
      .teachers__content__name {
        width: 100%;
        margin: 22px auto 0;
        font-size: 2.4rem;
        h3 {
          text-align: center;
        }
      }
    }
    .teachers__content__description {
      padding-left: 2.4rem;
      flex-basis: 320px;
      display: flex;
      font-family: $regularFont;
      padding-top: 4.5vh;
      flex-direction: column;
      .content__description__item {
        margin-bottom: 23px;
        font-size: 1.3rem;
        line-height: 22.5px;
        letter-spacing: -1px;
        .description__item__title {
          text-transform: uppercase;
        }
        .description__item__text {
        }
      }
    }
  }
}
